<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>StarStock &mdash; Starship Factory stock management</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<script type="text/javascript" src="/js/prototype.js"></script>
		<script type="text/javascript" src="/js/underscore.min.js"></script>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		<!--//
		var handler = null;
		var prevsearch = "";

		function KeyEvent()
		{
			if (handler != null)
			{
				clearTimeout(handler);
				handler = null;
			}

			// Delay firing the FireSearch event by a few milliseconds so we
			// don't fire it repeatedly if someone's still typing.
			handler = setTimeout(FireSearch, 350);
		}

		function FireSearch()
		{
			var elem = $('#queryField')[0];
			clearTimeout(handler);
			handler = null;

			if (elem.value.length < 3)
				return;

			if (elem.value == prevsearch)
				return;

			prevsearch = elem.value;

			elem.className = "search-query input-xlarge muted";
			elem.setAttribute("disabled", "disabled");

			new Ajax.Request('/api/products', {
				parameters: {
					q: elem.value,
				},
				onFailure: function(response) {
					var al = document.createElement("div");
					var el = document.createElement("button");

					al.className = "alert alert-block";
					el.setAttribute("type", "button");
					el.className = "close";
					el.setAttribute("data-dismiss", "alert");
					el.innerHTML = "&times;";
					al.appendChild(el);

					el = document.createElement("h4");
					el.appendChild(document.createTextNode("Error retrieving products"));
					al.appendChild(el);

					al.appendChild(document.createTextNode("Error fetching data: "));
					al.appendChild(document.createTextNode(response.statusText));
					document.appendChild(al);
				},
				onSuccess: function(response) {
					var results = $('#results')[0];
					var products = response.responseJSON["Products"];
					var vendors = response.responseJSON["Vendors"];
					var addbtn = document.createElement("a");

					while (results.hasChildNodes())
						results.removeChild(results.firstChild);

					if (products != null && products.length > 0)
					{
						var panel = document.createElement("div");
						var panelhead = document.createElement("div");
						var list = document.createElement("ul");

						panel.className = "panel panel-default";
						panelhead.className = "panel-heading";
						panelhead.appendChild(document.createTextNode("Products"));
						panel.appendChild(panelhead);

						list.className = "list-group";
						list.setAttribute("id", "products-list");

						_.each(_.first(products, 3), function(p) {
							var li = document.createElement("li");
							li.className = "list-group-item";

							if (p["Picture"].length > 0)
							{
								el = document.createElement("img")
								el.setAttribute("src", p["Picture"]);
								el.setAttribute("alt", p["Name"]);
								li.appendChild(el);
							}
							el = document.createElement("a");
							el.setAttribute("href", p["Path"]);
							el.appendChild(document.createTextNode(p["Name"]));
							li.appendChild(el);
							list.appendChild(li);
						});
						_.each(_.rest(products, 3), function(p) {
							var li = document.createElement("li");
							li.className = "list-group-item";
							li.style.display = "none";

							if (p["Picture"].length > 0)
							{
								el = document.createElement("img")
								el.setAttribute("src", p["Picture"]);
								el.setAttribute("alt", p["Name"]);
								li.appendChild(el);
							}
							el = document.createElement("a");
							el.setAttribute("href", p["Path"]);
							el.appendChild(document.createTextNode(p["Name"]));
							li.appendChild(el);
							list.appendChild(li);
						});
						panel.appendChild(list);
						results.appendChild(panel);

						if (products.length > 3)
						{
							var btn = document.createElement("button");
							btn.className = "btn";
							btn.appendChild(document.createTextNode("Show all"));
							btn.onclick = function() {
								var lst = $('#products-list')[0];
								_.each(lst.childNodes, function(p) {
									p.style.display = "list-item";
								});
								this.style.display = "none";
							}
							results.appendChild(btn);
						}
					}
					if (vendors != null && vendors.length > 0)
					{
						var panel = document.createElement("div");
						var panelhead = document.createElement("div");
						var list = document.createElement("ul");

						panel.className = "panel panel-default";
						panelhead.className = "panel-heading";
						panelhead.appendChild(document.createTextNode("Vendors"));
						panel.appendChild(panelhead);

						list.className = "list-group";
						list.setAttribute("id", "vendors-list");

						_.each(_.first(vendors, 3), function(p) {
							var li = document.createElement("li");
							li.className = "list-group-item";

							if (p["Picture"].length > 0)
							{
								el = document.createElement("img")
								el.setAttribute("src", p["Picture"]);
								el.setAttribute("alt", p["Name"]);
								li.appendChild(el);
							}
							el = document.createElement("a");
							el.setAttribute("href", p["Path"]);
							el.appendChild(document.createTextNode(p["Name"]));
							li.appendChild(el);
							list.appendChild(li);
						});
						_.each(_.rest(vendors, 3), function(p) {
							var li = document.createElement("li");
							li.className = "list-group-item";
							li.style.display = "none";

							if (p["Picture"].length > 0)
							{
								el = document.createElement("img")
								el.setAttribute("src", p["Picture"]);
								el.setAttribute("alt", p["Name"]);
								li.appendChild(el);
							}
							el = document.createElement("a");
							el.setAttribute("href", p["Path"]);
							el.appendChild(document.createTextNode(p["Name"]));
							li.appendChild(el);
							list.appendChild(li);
						});
						panel.appendChild(list);
						results.appendChild(panel);

						if (products.length > 3)
						{
							var btn = document.createElement("button");
							btn.className = "btn";
							btn.appendChild(document.createTextNode("Show all"));
							btn.onclick = function() {
								var lst = $('#vendors-list')[0];
								_.each(lst.childNodes, function(p) {
									p.style.display = "list-item";
								});
								this.style.display = "none";
							}
							results.appendChild(btn);
						}
					}

					addbtn.className = "btn btn-primary";
					addbtn.setAttribute("role", "button");
					addbtn.setAttribute("data-toggle", "modal");
					addbtn.setAttribute("href", "#addItem");
					addbtn.appendChild(document.createTextNode("Add an item \"" + elem.value + "\""));
					results.appendChild(document.createElement("br"));
					results.appendChild(addbtn);

					elem.className = "search-query input-xlarge";
					elem.removeAttribute("disabled");

					$('#add-prodname')[0].value = elem.value;
				}
			});
		}

		function AddProduct()
		{
			var prodname = $('#add-prodname')[0];
			var barcode = $('#add-barcode')[0];

			// TODO(caoimhe): notify the user about the error somehow.
			if (prodname.value.length <= 0)
				return;

			new Ajax.Request('/api/add-product', {
				parameters: {
					prodname: prodname.value,
					barcode: barcode.value
				},
				onFailure: function(response) {
					var al = document.createElement("div");
					var el = document.createElement("button");

					al.className = "alert alert-block";
					el.setAttribute("type", "button");
					el.className = "close";
					el.setAttribute("data-dismiss", "alert");
					el.innerHTML = "&times;";
					al.appendChild(el);

					el = document.createElement("h4");
					el.appendChild(document.createTextNode("Error adding product"));
					al.appendChild(el);

					al.appendChild(document.createTextNode("Error fetching data: "));
					al.appendChild(document.createTextNode(response.statusText));
					document.appendChild(al);
				},
				onSuccess: function(response) {
					prevsearch = '';
					prodname.value = '';
					barcode.value = '';
					$('#addItem').modal('hide');
					KeyEvent();
				}
			});
		}
		//-->
		</script>
	</head>
	<body>
		<div class="container">
			<input type="text" class="search-query input-xlarge" name="q" id="queryField" title="Enter any product or vendor name." onkeyup="KeyEvent();" placeholder="Product or vendor name, or barcode scan." />
			<div id="results"></div>
		</div>
		<div id="addItem" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addItemLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="addItemLabel">Modal header</h3>
			</div>
			<div class="modal-body">
				<label for="add-prodname">Product name:</label>
				<input type="text" id="add-prodname" title="Please enter a product name here. Make sure it's not a duplicate." />
				<br/>
				<label for="add-barcode">Example barcode:</label>
				<input type="text" id="add-barcode" title="If you have an example barcode, add it here." />
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="AddProduct();">Save changes</button>
			</div>
		</div>
	</body>
</html>
