<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>StarStock &mdash; Starship Factory stock management</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<script type="text/javascript" src="/js/prototype.js"></script>
		<script type="text/javascript" src="/js/underscore.min.js"></script>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		<!--//
		var handler = null;
		var prevsearch = "";

		function KeyEvent()
		{
			if (handler != null)
			{
				clearTimeout(handler);
				handler = null;
			}

			// Delay firing the FireSearch event by a few milliseconds so we
			// don't fire it repeatedly if someone's still typing.
			handler = setTimeout(FireSearch, 350);
		}

		function FireSearch()
		{
			var elem = $('#queryField')[0];
			clearTimeout(handler);
			handler = null;

			if (elem.value.length < 3)
				return;

			if (elem.value == prevsearch)
				return;

			prevsearch = elem.value;

			elem.className = "search-query input-xlarge muted";
			elem.setAttribute("disabled", "disabled");

			new Ajax.Request('/api/products', {
				parameters: {
					q: elem.value,
				},
				onFailure: function(response) {
					var al = document.createElement("div");
					var el = document.createElement("button");

					al.className = "alert alert-block";
					el.setAttribute("type", "button");
					el.className = "close";
					el.setAttribute("data-dismiss", "alert");
					el.innerHTML = "&times;";
					al.appendChild(el);

					el = document.createElement("h4");
					el.appendChild(document.createTextNode("Error retrieving products"));
					al.appendChild(el);

					al.appendChild(document.createTextNode("Error fetching data: "));
					al.appendChild(document.createTextNode(response.statusText));
					document.appendChild(al);
				},
				onSuccess: function(response) {
					var results = $('#results')[0];
					var products = response.responseJSON["Products"];
					var vendors = response.responseJSON["Vendors"];
					var editbtn = document.createElement("a");

					while (results.hasChildNodes())
						results.removeChild(results.firstChild);

					if (products != null && products.length > 0)
					{
						var panel = document.createElement("div");
						var panelhead = document.createElement("div");
						var list = document.createElement("ul");

						panel.className = "panel panel-default";
						panelhead.className = "panel-heading";
						panelhead.appendChild(document.createTextNode("Products"));
						panel.appendChild(panelhead);

						list.className = "list-group";
						list.setAttribute("id", "products-list");

						_.each(_.first(products, 3), function(p) {
							var li = document.createElement("li");
							li.className = "list-group-item";

							if (p["Picture"].length > 0)
							{
								el = document.createElement("img")
								el.setAttribute("src", p["Picture"]);
								el.setAttribute("alt", p["Name"]);
								li.appendChild(el);
							}
							el = document.createElement("a");
							el.onclick = function(ev) {
								if (!ev) ev = window.event;
								el = ev.target;
								LoadProduct(el.getAttribute("data-id"));
								return true;
							}
							el.setAttribute("data-id", p["Uuid"]);
							el.setAttribute("data-name", p["Name"]);
							el.href = "javascript:void(0);";
							el.appendChild(document.createTextNode(p["Name"]));
							li.appendChild(el);
							list.appendChild(li);
						});
						_.each(_.rest(products, 3), function(p) {
							var li = document.createElement("li");
							li.className = "list-group-item";
							li.style.display = "none";

							if (p["Picture"].length > 0)
							{
								el = document.createElement("img")
								el.setAttribute("src", p["Picture"]);
								el.setAttribute("alt", p["Name"]);
								li.appendChild(el);
							}
							el = document.createElement("a");
							el.onclick = function(ev) {
								if (!ev) ev = window.event;
								el = ev.target;
								LoadProduct(el.getAttribute("data-id"));
								return true;
							}
							el.setAttribute("data-id", p["Uuid"]);
							el.setAttribute("data-name", p["Name"]);
							el.href = "javascript:void(0);";
							el.appendChild(document.createTextNode(p["Name"]));
							li.appendChild(el);
							list.appendChild(li);
						});
						panel.appendChild(list);
						results.appendChild(panel);

						if (products.length > 3)
						{
							var btn = document.createElement("button");
							btn.className = "btn";
							btn.appendChild(document.createTextNode("Show all"));
							btn.onclick = function() {
								var lst = $('#products-list')[0];
								_.each(lst.childNodes, function(p) {
									p.style.display = "list-item";
								});
								this.style.display = "none";
							}
							results.appendChild(btn);
						}
					}
					if (vendors != null && vendors.length > 0)
					{
						var panel = document.createElement("div");
						var panelhead = document.createElement("div");
						var list = document.createElement("ul");

						panel.className = "panel panel-default";
						panelhead.className = "panel-heading";
						panelhead.appendChild(document.createTextNode("Vendors"));
						panel.appendChild(panelhead);

						list.className = "list-group";
						list.setAttribute("id", "vendors-list");

						_.each(_.first(vendors, 3), function(p) {
							var li = document.createElement("li");
							li.className = "list-group-item";

							if (p["Picture"].length > 0)
							{
								el = document.createElement("img")
								el.setAttribute("src", p["Picture"]);
								el.setAttribute("alt", p["Name"]);
								li.appendChild(el);
							}
							el = document.createElement("a");
							el.setAttribute("href", p["Uuid"]);
							el.appendChild(document.createTextNode(p["Name"]));
							li.appendChild(el);
							list.appendChild(li);
						});
						_.each(_.rest(vendors, 3), function(p) {
							var li = document.createElement("li");
							li.className = "list-group-item";
							li.style.display = "none";

							if (p["Picture"].length > 0)
							{
								el = document.createElement("img")
								el.setAttribute("src", p["Picture"]);
								el.setAttribute("alt", p["Name"]);
								li.appendChild(el);
							}
							el = document.createElement("a");
							el.setAttribute("href", p["Uuid"]);
							el.appendChild(document.createTextNode(p["Name"]));
							li.appendChild(el);
							list.appendChild(li);
						});
						panel.appendChild(list);
						results.appendChild(panel);

						if (vendors.length > 3)
						{
							var btn = document.createElement("button");
							btn.className = "btn";
							btn.appendChild(document.createTextNode("Show all"));
							btn.onclick = function() {
								var lst = $('#vendors-list')[0];
								_.each(lst.childNodes, function(p) {
									p.style.display = "list-item";
								});
								this.style.display = "none";
							}
							results.appendChild(btn);
						}
					}

					editbtn.className = "btn btn-primary";
					editbtn.setAttribute("role", "button");
					editbtn.setAttribute("data-toggle", "modal");
					editbtn.setAttribute("href", "#editItem");
					editbtn.appendChild(document.createTextNode(
						"Add an item \"" + elem.value + "\""));
					results.appendChild(document.createElement("br"));
					results.appendChild(editbtn);

					elem.className = "search-query input-xlarge";
					elem.removeAttribute("disabled");

					$('#edit-id')[0].value = '';
					$('#edit-prodname')[0].value = elem.value;

					var label = $('#editItemLabel')[0];
					while (label.hasChildNodes())
						label.removeChild(label.firstChild);

					label.appendChild(document.createTextNode(
						"Add product " + elem.value));

					$('#editItem').on('hidden', function() {
						// Reset the editItem editor to adding an item.
						var elem = $('#queryField')[0];
						var label = $('#editItemLabel')[0];

						while (label.hasChildNodes())
							label.removeChild(label.firstChild);

						label.appendChild(document.createTextNode(
							"Add product " + elem.value));
						$('#edit-id')[0].value = '';
						$('#edit-prodname')[0].value = elem.value;
						$('#edit-barcode')[0].value = '';
						$('#edit-count')[0].value = '1';
						$('#edit-price')[0].value = '';
					});
				}
			});
		}

		function LoadProduct(id) {

			new Ajax.Request('/api/product', {
				parameters: {
					id: id,
				},
				onFailure: function(response) {
					var al = document.createElement("div");
					var el = document.createElement("button");

					al.className = "alert alert-block";
					el.setAttribute("type", "button");
					el.className = "close";
					el.setAttribute("data-dismiss", "alert");
					el.innerHTML = "&times;";
					al.appendChild(el);

					el = document.createElement("h4");
					el.appendChild(document.createTextNode("Error retrieving products"));
					al.appendChild(el);

					al.appendChild(document.createTextNode("Error fetching data: "));
					al.appendChild(document.createTextNode(response.statusText));
					document.appendChild(al);
				},
				onSuccess: function(response) {
					var label = $('#editItemLabel')[0];
					var barcodes = '';

					while (label.hasChildNodes())
						label.removeChild(label.firstChild);

					label.appendChild(document.createTextNode(
						"Edit product " + response.responseJSON["Name"]));

					$('#edit-id')[0].value = id;
					$('#edit-prodname')[0].value = response.responseJSON["Name"];
					$('#edit-count')[0].value = response.responseJSON["Stock"];
					$('#edit-price')[0].value = response.responseJSON["Price"];

					// TODO(caoimhe): Do something with the barcodes.
					if (response.responseJSON["Barcodes"] != null) {
						barcodes = response.responseJSON["Barcodes"].join("\r\n");
						$('#edit-barcode')[0].value = barcodes;
					}
					$('#editItem').modal('show');
				}
			});
		}

		function EditProduct()
		{
			var label = $('#editItemLabel')[0];
			var prodid = $('#edit-id')[0];
			var prodname = $('#edit-prodname')[0];
			var count = $('#edit-count')[0];
			var barcode = $('#edit-barcode')[0];
			var price = $('#edit-price')[0];

			// TODO(caoimhe): notify the user about the error somehow.
			if (prodname.value.length <= 0)
				return;

			while (label.childNodes.length > 0)
				label.removeChild(label.firstChild);

			new Ajax.Request('/api/edit-product', {
				parameters: {
					id: prodid.value,
					prodname: prodname.value,
					stock: count.value,
					barcode: barcode.value.replace(/\r\n/, "\n")
						.replace(/\r/, "\n").split("\n"),
					price: price.value
				},
				onFailure: function(response) {
					var al = document.createElement("div");
					var el = document.createElement("button");

					al.className = "alert alert-block";
					el.setAttribute("type", "button");
					el.className = "close";
					el.setAttribute("data-dismiss", "alert");
					el.innerHTML = "&times;";
					al.appendChild(el);

					el = document.createElement("h4");
					el.appendChild(document.createTextNode("Error editing product"));
					al.appendChild(el);

					al.appendChild(document.createTextNode("Error fetching data: "));
					al.appendChild(document.createTextNode(response.statusText));
					document.appendChild(al);
				},
				onSuccess: function(response) {
					prevsearch = '';
					prodname.value = '';
					barcode.value = '';
					$('#editItem').modal('hide');
					KeyEvent();
				}
			});
		}
		//-->
		</script>
	</head>
	<body>
		<div class="container">
			<input type="text" class="search-query input-xlarge" name="q" id="queryField" title="Enter any product or vendor name." onkeyup="KeyEvent();" placeholder="Product or vendor name, or barcode scan." />
			<div id="results"></div>
		</div>
\		<div id="editItem" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editItemLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="editItemLabel">Edit Product</h3>
			</div>
			<div class="modal-body">
				<input type="hidden" id="edit-id" value="" />
				<label for="edit-prodname">Product name:</label>
				<input type="text" id="edit-prodname" title="Please enter a product name here. Make sure it's not a duplicate." />
				<br/>
				<label for="edit-count">Number in stock:</label>
				<input type="number" id="edit-count" min="1" step="1" title="Number of items of this product which are currently in stock." />
				<br/>
				<label for="edit-barcode">Known barcodes:</label>
				<textarea id="edit-barcode" title="If you have barcodes known to match this product, add them here."></textarea>
				<br/>
				<label for="edit-price">Sales price:</label>
				<input type="number" id="edit-price" step="0.05" min="0.05" />
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn btn-primary" onclick="EditProduct();">Save changes</button>
			</div>
		</div>
	</body>
</html>
